# Default ignored files
/shelf/
/.idea/workspace.xml

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
target/
Servers/
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

houssg/src/main/resources/application.properties
houssg/db/.my-healthcheck.cnf
houssg/db/aria_log.00000001
houssg/db/aria_log_control
houssg/db/ib_buffer_pool
houssg/db/ib_logfile0
houssg/db/ibdata1
houssg/db/mariadb_upgrade_info
houssg/db/multi-master.info
houssg/db/undo001
houssg/db/undo002
houssg/db/undo003
houssg/db/mysql/column_stats.frm
houssg/db/mysql/column_stats.MAD
houssg/db/mysql/column_stats.MAI
houssg/db/mysql/columns_priv.frm
houssg/db/mysql/columns_priv.MAD
houssg/db/mysql/columns_priv.MAI
houssg/db/mysql/db.frm
houssg/db/mysql/db.MAD
houssg/db/mysql/db.MAI
houssg/db/mysql/db.opt
houssg/db/mysql/event.frm
houssg/db/mysql/event.MAD
houssg/db/mysql/event.MAI
houssg/db/mysql/func.frm
houssg/db/mysql/func.MAD
houssg/db/mysql/func.MAI
houssg/db/mysql/general_log.CSM
houssg/db/mysql/general_log.CSV
houssg/db/mysql/general_log.frm
houssg/db/mysql/global_priv.frm
houssg/db/mysql/global_priv.MAD
houssg/db/mysql/global_priv.MAI
houssg/db/mysql/gtid_slave_pos.frm
houssg/db/mysql/gtid_slave_pos.ibd
houssg/db/mysql/help_category.frm
houssg/db/mysql/help_category.MAD
houssg/db/mysql/help_category.MAI
houssg/db/mysql/help_keyword.frm
houssg/db/mysql/help_keyword.MAD
houssg/db/mysql/help_keyword.MAI
houssg/db/mysql/help_relation.frm
houssg/db/mysql/help_relation.MAD
houssg/db/mysql/help_relation.MAI
houssg/db/mysql/help_topic.frm
houssg/db/mysql/help_topic.MAD
houssg/db/mysql/help_topic.MAI
houssg/db/mysql/index_stats.frm
houssg/db/mysql/index_stats.MAD
houssg/db/mysql/index_stats.MAI
houssg/db/mysql/innodb_index_stats.frm
houssg/db/mysql/innodb_index_stats.ibd
houssg/db/mysql/innodb_table_stats.frm
houssg/db/mysql/innodb_table_stats.ibd
houssg/db/mysql/plugin.frm
houssg/db/mysql/plugin.MAD
houssg/db/mysql/plugin.MAI
houssg/db/mysql/proc.frm
houssg/db/mysql/proc.MAD
houssg/db/mysql/proc.MAI
houssg/db/mysql/procs_priv.frm
houssg/db/mysql/procs_priv.MAD
houssg/db/mysql/procs_priv.MAI
houssg/db/mysql/proxies_priv.frm
houssg/db/mysql/proxies_priv.MAD
houssg/db/mysql/proxies_priv.MAI
houssg/db/mysql/roles_mapping.frm
houssg/db/mysql/roles_mapping.MAD
houssg/db/mysql/roles_mapping.MAI
houssg/db/mysql/servers.frm
houssg/db/mysql/servers.MAD
houssg/db/mysql/servers.MAI
houssg/db/mysql/slow_log.CSM
houssg/db/mysql/slow_log.CSV
houssg/db/mysql/slow_log.frm
houssg/db/mysql/table_stats.frm
houssg/db/mysql/table_stats.MAD
houssg/db/mysql/table_stats.MAI
houssg/db/mysql/tables_priv.frm
houssg/db/mysql/tables_priv.MAD
houssg/db/mysql/tables_priv.MAI
houssg/db/mysql/time_zone.frm
houssg/db/mysql/time_zone.MAD
houssg/db/mysql/time_zone.MAI
houssg/db/mysql/time_zone_leap_second.frm
houssg/db/mysql/time_zone_leap_second.MAD
houssg/db/mysql/time_zone_leap_second.MAI
houssg/db/mysql/time_zone_name.frm
houssg/db/mysql/time_zone_name.MAD
houssg/db/mysql/time_zone_name.MAI
houssg/db/mysql/time_zone_transition.frm
houssg/db/mysql/time_zone_transition.MAD
houssg/db/mysql/time_zone_transition.MAI
houssg/db/mysql/time_zone_transition_type.frm
houssg/db/mysql/time_zone_transition_type.MAD
houssg/db/mysql/time_zone_transition_type.MAI
houssg/db/mysql/transaction_registry.frm
houssg/db/mysql/transaction_registry.ibd
houssg/db/mysql/user.frm
houssg/db/performance_schema/db.opt
houssg/db/sys/db.opt
houssg/db/sys/host_summary.frm
houssg/db/sys/host_summary_by_file_io.frm
houssg/db/sys/host_summary_by_file_io_type.frm
houssg/db/sys/host_summary_by_stages.frm
houssg/db/sys/host_summary_by_statement_latency.frm
houssg/db/sys/host_summary_by_statement_type.frm
houssg/db/sys/innodb_buffer_stats_by_schema.frm
houssg/db/sys/innodb_buffer_stats_by_table.frm
houssg/db/sys/innodb_lock_waits.frm
houssg/db/sys/io_by_thread_by_latency.frm
houssg/db/sys/io_global_by_file_by_bytes.frm
houssg/db/sys/io_global_by_file_by_latency.frm
houssg/db/sys/io_global_by_wait_by_bytes.frm
houssg/db/sys/io_global_by_wait_by_latency.frm
houssg/db/sys/latest_file_io.frm
houssg/db/sys/memory_by_host_by_current_bytes.frm
houssg/db/sys/memory_by_thread_by_current_bytes.frm
houssg/db/sys/memory_by_user_by_current_bytes.frm
houssg/db/sys/memory_global_by_current_bytes.frm
houssg/db/sys/memory_global_total.frm
houssg/db/sys/metrics.frm
houssg/db/sys/processlist.frm
houssg/db/sys/ps_check_lost_instrumentation.frm
houssg/db/sys/schema_auto_increment_columns.frm
houssg/db/sys/schema_index_statistics.frm
houssg/db/sys/schema_object_overview.frm
houssg/db/sys/schema_redundant_indexes.frm
houssg/db/sys/schema_table_lock_waits.frm
houssg/db/sys/schema_table_statistics.frm
houssg/db/sys/schema_table_statistics_with_buffer.frm
houssg/db/sys/schema_tables_with_full_table_scans.frm
houssg/db/sys/schema_unused_indexes.frm
houssg/db/sys/session.frm
houssg/db/sys/session_ssl_status.frm
houssg/db/sys/statement_analysis.frm
houssg/db/sys/statements_with_errors_or_warnings.frm
houssg/db/sys/statements_with_full_table_scans.frm
houssg/db/sys/statements_with_runtimes_in_95th_percentile.frm
houssg/db/sys/statements_with_sorting.frm
houssg/db/sys/statements_with_temp_tables.frm
houssg/db/sys/sys_config.frm
houssg/db/sys/sys_config.MAD
houssg/db/sys/sys_config.MAI
houssg/db/sys/user_summary.frm
houssg/db/sys/user_summary_by_file_io.frm
houssg/db/sys/user_summary_by_file_io_type.frm
houssg/db/sys/user_summary_by_stages.frm
houssg/db/sys/user_summary_by_statement_latency.frm
houssg/db/sys/user_summary_by_statement_type.frm
houssg/db/sys/version.frm
houssg/db/sys/wait_classes_global_by_avg_latency.frm
houssg/db/sys/wait_classes_global_by_latency.frm
houssg/db/sys/waits_by_host_by_latency.frm
houssg/db/sys/waits_by_user_by_latency.frm
houssg/db/sys/waits_global_by_latency.frm
houssg/db/sys/x@0024host_summary.frm
houssg/db/sys/x@0024host_summary_by_file_io.frm
houssg/db/sys/x@0024host_summary_by_file_io_type.frm
houssg/db/sys/x@0024host_summary_by_stages.frm
houssg/db/sys/x@0024host_summary_by_statement_latency.frm
houssg/db/sys/x@0024host_summary_by_statement_type.frm
houssg/db/sys/x@0024innodb_buffer_stats_by_schema.frm
houssg/db/sys/x@0024innodb_buffer_stats_by_table.frm
houssg/db/sys/x@0024innodb_lock_waits.frm
houssg/db/sys/x@0024io_by_thread_by_latency.frm
houssg/db/sys/x@0024io_global_by_file_by_bytes.frm
houssg/db/sys/x@0024io_global_by_file_by_latency.frm
houssg/db/sys/x@0024io_global_by_wait_by_bytes.frm
houssg/db/sys/x@0024io_global_by_wait_by_latency.frm
houssg/db/sys/x@0024latest_file_io.frm
houssg/db/sys/x@0024memory_by_host_by_current_bytes.frm
houssg/db/sys/x@0024memory_by_thread_by_current_bytes.frm
houssg/db/sys/x@0024memory_by_user_by_current_bytes.frm
houssg/db/sys/x@0024memory_global_by_current_bytes.frm
houssg/db/sys/x@0024memory_global_total.frm
houssg/db/sys/x@0024processlist.frm
houssg/db/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
houssg/db/sys/x@0024ps_digest_avg_latency_distribution.frm
houssg/db/sys/x@0024ps_schema_table_statistics_io.frm
houssg/db/sys/x@0024schema_flattened_keys.frm
houssg/db/sys/x@0024schema_index_statistics.frm
houssg/db/sys/x@0024schema_table_lock_waits.frm
houssg/db/sys/x@0024schema_table_statistics.frm
houssg/db/sys/x@0024schema_table_statistics_with_buffer.frm
houssg/db/sys/x@0024schema_tables_with_full_table_scans.frm
houssg/db/sys/x@0024session.frm
houssg/db/sys/x@0024statement_analysis.frm
houssg/db/sys/x@0024statements_with_errors_or_warnings.frm
houssg/db/sys/x@0024statements_with_full_table_scans.frm
houssg/db/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
houssg/db/sys/x@0024statements_with_sorting.frm
houssg/db/sys/x@0024statements_with_temp_tables.frm
houssg/db/sys/x@0024user_summary.frm
houssg/db/sys/x@0024user_summary_by_file_io.frm
houssg/db/sys/x@0024user_summary_by_file_io_type.frm
houssg/db/sys/x@0024user_summary_by_stages.frm
houssg/db/sys/x@0024user_summary_by_statement_latency.frm
houssg/db/sys/x@0024user_summary_by_statement_type.frm
houssg/db/sys/x@0024wait_classes_global_by_avg_latency.frm
houssg/db/sys/x@0024wait_classes_global_by_latency.frm
houssg/db/sys/x@0024waits_by_host_by_latency.frm
houssg/db/sys/x@0024waits_by_user_by_latency.frm
houssg/db/sys/x@0024waits_global_by_latency.frm


